.card-container {
    position: relative;
    width: 18rem;
    height: 700px;
}

.card-container:hover .card-front {
    transform: rotateY(180deg);
}

.card-container:hover .card-back {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.card {
    position: absolute;
    transition: all 0.9s;
    backface-visibility: hidden;
}

.card-back .card-body {
    position: relative;
}